.size {
    max-width: 1484px;
    margin: 143px auto 0;
    font-family: "Montserrat";
    @media (max-width: 768px) {
		margin-top: 0;
	}
}
.size__content {
    display: flex;
    font-family: inherit;
    @media (max-width: 768px) {
		flex-direction: column;
	}
}
.size__img {
    max-width: 768px;
    width:100%;
    min-height: 541px;
    left: 20px;
    background-image: url(/assets/images/size/bg-size.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    transform: translateX(-50px);
    z-index: 1;
    @media (max-width: 768px) {
		order: 2;
        width: 588px;
        height: 415px;
        top: 190px;
        transform: translateX(52px);
	}
    &::after {
        content: "";
        left: 320px;
        top: -80px;
        min-width: 433px;
        min-height: 478px;
        background-image: url(/assets/images/size/work-size.png);
        background-size: cover;
        position: absolute;
        z-index: 2;
        @media (max-width: 768px) {
            left: 121px;
            top: -133px;
        }
    }
}
.size__arrows {
    &::before {
        left: -38px;
        top: 277px;
        z-index: 5;
        @media (max-width: 768px) {
            content: none;
        }
    }
    &::after {
        left: 688px;
        top: 57px;
        z-index: 5;
        @media (max-width: 768px) {
            content: none;
        }
    }
}
.size__point {
    &::before {
        left: 271px;
        top: 5px;
        z-index: 5;
        @media (max-width: 768px) {
            left: 76px;
            top: -52px;
        }   
    }
    &::after {
            content: none;
    }
}
.size__inform {
    width: 612px;
    margin-top: 19px;
    margin-left: 16px;
    @media (max-width: 768px) {
        width: 760px;
		order: 1;
        text-align: center;
	}
}
.size__inform-title {
    font-size: 39px;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: 0.005em;
    text-align: left;
    @media (max-width: 768px) {
        width: 624px;
        margin-left: 10%;
		line-height: 54px;
        text-align: center;
	}
}
.inform__title-span {
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
    font-weight: 800;
    letter-spacing: 0.02em;
    color: var(--color-3);
    text-transform: uppercase;
    @media (max-width: 768px) {
		font-size: 40px;
        text-align: center;
        word-break:inherit ;
	}
}
.size__inform-phone {
    margin-top: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    @media (max-width: 768px) {
		margin-top: 21px;
	}
}
.inform__phone-a {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-left: 13px;
}
.inform__phone-span {
    color: var(--color-2);
}
.size__inform-text {
    margin-top: 34px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    @media (max-width: 900px) {
		text-align: start;
	}
}
.size__forms{
    margin-top: -145px;
    transform: translateX(-81px);
    @media (max-width: 900px) {
		transform:none;
	}
}