section.size
  .size__content
    .size__img
      .size__arrows.img__arrows
      .size__point.img__point
    .size__inform
      h2.size__inform-title
        | Заказать выезд инженера 
        span.inform__title-span на замер
      p.size__inform-phone
        | Оставьте заявку по телефону 
        a.inform__phone-a(href="tel:+78125092198", target="_blank")
          | +7 (812) 
          span.inform__phone-span 509-29-98
      p.size__inform-text Наш инженер-проектировщик приедет в удобное для Вас время, поможет с выбором места установки печи или котла и осуществит замер для Вашего дымохода
  +forms('size')