// блок - скидка
section.discount
  h1.title__hiden Дымоход
  .discount__content
    h2.discount__title
      | Скидка
      span.discount__title-span  3%    
    p.discount__text-product на дымоход
    p.discount__text-inform 
      | * при покупке комплекта от 
      span.discount__text-span 10 000 
      svg.discount__text-rub
        use(href="assets/images/sprite/sprite.svg#rubl")
    .discount__price
      p.discount__price-new
        | 16 490
        svg.discount__price-rub.discount__rub-new
          use(href="assets/images/sprite/sprite.svg#rubl")  
      p.discount__price-old
        s.discount__price-s 16 490
        svg.discount__price-rub.discount__rub-old
          use(href="assets/images/sprite/sprite.svg#rubl")
    .discount__button
      button.discount__button-item.btn(type="button") в каталог
      button.discount__button-item.btn(type="button") монтаж
  .discount__img
    .discount__arrows.img__arrows
    .discount__point.img__point