.order {
	margin-top: 71px;
	font-family: 'Montserrat';
	@media (max-width: 768px) {
		margin-top: 80px;
    }
}
.order__title {
	font-size: 49px;
	font-weight: 800;
	line-height: 40px;
	text-align: center;
    letter-spacing: 0.02em;
	text-transform: uppercase;
	@media (max-width: 768px) {
		font-size: 31px;
    }
}
.order__text {
	margin-top: 10px;
    font-size: 21px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.02em;
	text-align: center;
}
.order__social {
	margin-left: 42px;
    margin-top: 34px;
	text-align: center;
	position: relative;
	&::before {
		content: "";
		left: 23%;
		top: 56px;
		width: 594px;
		border: 1px solid var(--color-8);
		position: absolute;
	}
}
.order__social-link {
	fill: var(--color-6);
	margin-right: 36px;
}
.order__questions {
	max-width: 866px;
	display: flex;
	margin: 60px auto 0;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	@media (max-width: 768px) {
		max-width: 738px;
    }
}
.order__questions-item {
	width: 411px;
	margin-left: 22px;
	font-size: 18px;
	font-weight: 500;
	line-height: 40px;
    letter-spacing: 0.013em;
	position: relative;
	@media (max-width: 768px) {
		width: 336px;
		margin-left: 30px;
		font-size: 14px;
    }
	&::before {
		content: "";
		left: -19px;
		top: 15px;
		width: 9px;
		height: 9px;
		background-color: var(--color-3);
		border-radius: 50%;
		position: absolute;
		z-index: 2;
	}
}
.order__forms {
	width: 866px;
	margin: 38px auto 0;
	padding-top: 57px;
	padding-left: 59px;
	padding-bottom: 61px;
	position: relative;
	box-shadow: 2px 14px 28px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2);
	z-index: 2;
	@media (max-width: 768px) {
		text-align: center;
        padding-left: 0;
        padding-top: 49px;
        width: 738px;
        height: 390px;
    }
}
.order__forms-title {
	font-size: 20px;
	font-weight: 500;
	line-height: 22px;
}
.forms__title-span {
	font-weight: 700;
	color: var(--color-6);
}
.order__forms-text {
	margin-top: 12px;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}
.order__forms-container {
	margin-top: 22px;
	display:  flex;
	@media (max-width: 768px) {
        flex-direction: column; 
		align-items: center;    
	}
}
.order__input-btn {
	min-width: 240px;
	padding-top: 17px;
	padding-bottom: 17px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border: 1.5px solid var(--color-8);
	margin-right: 16px;
	@media (max-width: 768px) {
        width: 354px;
        margin-right: 0;
        margin-bottom: 15px;
	}
}
.order__forms-btn {
	color: white;
	background-color: var(--color-5);
	border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
	@media (max-width: 768px) {
        margin-left: 0;
        margin-right: 9px;
	}
}
.order__input {
	min-width: 213px;
}
.order__input[placeholder] {
	margin-left: 18px;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
}