// заявка
section.order.container
  h2.order__title Оставьте заявку
  p.order__text или свяжитесь с нами в социальных сетях
  .order__social.social
    +social ('https://vk.com/','vk','order')
    +social ('https://telegram.org/','telegram','order')
    +social ('https://www.instagram.com/','instagram','order')
    +social ('https://www.whatsapp.com/','whatsapp','order')
  .order__questions
    p.order__questions-item Какой дымоход лучше выбрать?
    p.order__questions-item Занимаетесь обслуживанием дымоходов?
    p.order__questions-item Сколько стоит монтаж дымохода?
    p.order__questions-item Сколько стоит выезд инженера на замер?
    p.order__questions-item Из какой стали выбрать дымоход?
    p.order__questions-item Сколько стоит выезд инженера на замер?
  +forms('order')
    