// ОТЗЫВЫ
section.reviews
  .reviews__container.red_line
    h2.reviews__title Отзывы наших клиентов
    .reviews__text
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .reviews__slider-blok
      // кнопки
      .reviews__button
        .reviews__swiper-button.button-prev.swiper-button--prev3
          svg.reviews__arrow.button-arrow.arrow-prev
            use(href="assets/images/sprite/sprite.svg#arrow")
        .reviews__swiper-button.button-next.swiper-button--next3
          svg.reviews__arrow.button-arrow.arrow-next
            use(href="assets/images/sprite/sprite.svg#next-arrow")
      // слайдер
      .reviews__slider-container
        .reviews__slider-content.swiper-container
          ul.reviews__slider-wrapper.swiper-wrapper
            li.reviews__slider-slide.swiper-slide
              .reviews__slider-case
                h3.reviews-case__feedback Отличная компания, быстро доставили мой заказ и были очень внимательны к моим пожеланиям! Обязательно еще к вам обращусь, первый заказ получился на "отлично"!
                .reviews-case__user
                  img(src="assets/images/reviews/user1.png", width="64", height="64", alt="user1")
                  .reviews-case__inf
                    p.reviews-case__name Алёна Симонова
                    p.reviews-case__date 20.11.2020
            li.reviews__slider-slide.swiper-slide
              .reviews__slider-case
                h3.reviews-case__feedback Много где были, выбирая камин своей мечты, но нигде к нам не отнеслись с таким пониманием и душевным теплом, как здесь. Нам не пришлось самим ломать голову при выборе, взвешивать все плюсы
                .reviews-case__user
                  img(src="assets/images/reviews/user2.png", width="64", height="64", alt="user2")
                  .reviews-case__inf
                    p.reviews-case__name Антон Баранов
                    p.reviews-case__date 20.11.2020
            li.reviews__slider-slide.swiper-slide
              .reviews__slider-case
                h3.reviews-case__feedback Отличный магазин! Нет проблем с доставкой. Цены на среднем уровне. Огромный выбор каминов. Монтажом занимаются профессионалы: делают быстро и наверняка.
                .reviews-case__user
                  img(src="assets/images/reviews/user3.png", width="64", height="64", alt="user3")
                  .reviews-case__inf
                    p.reviews-case__name Виктор Исаев
                    p.reviews-case__date 20.11.2020
            li.reviews__slider-slide.swiper-slide
              .reviews__slider-case
                h3.reviews-case__feedback Отличная компания, быстро доставили мой заказ и были очень внимательны к моим пожеланиям! Обязательно еще к вам обращусь, первый заказ получился на "отлично"!
                .reviews-case__user
                  img(src="assets/images/reviews/user1.png", width="64", height="64", alt="user1")
                  .reviews-case__inf
                    p.reviews-case__name Алёна Симонова
                    p.reviews-case__date 20.11.2020