extends ../layouts/default
block variables

block content
      include ../../components/discount/discount
      include ../../components/sales/sales
      include ../../components/work/work
      include ../../components/calculation/calculation
      include ../../components/privilege/privilege
      include ../../components/size/size
      include ../../components/installation/installation
      include ../../components/about-us/about-us
      include ../../components/order/order
      include ../../components/video/video
      include ../../components/reasons/reasons
      include ../../components/credit/credit
      include ../../components/reviews/reviews