extends ../layouts/default
block variables

block content
      include ../../components/content/discount/discount
      include ../../components/content/sales/sales
      include ../../components/content/work/work
      include ../../components/content/calculation/calculation
      include ../../components/content/privilege/privilege
      include ../../components/content/size/size
      include ../../components/content/installation/installation
      include ../../components/content/about-us/about-us
      include ../../components/content/order/order
      include ../../components/content/video/video
      include ../../components/content/reasons/reasons
      include ../../components/content/credit/credit
      include ../../components/content/reviews/reviews