//  преимущества
section.privilege.container.red_line
  h2.privilege__title Наши преимущества
  .privilege__contante
    .privilege__case
      .privilege__img
        img.privilege__img-item(src="assets/images/privilege/consult.png", width="70px", height="70px", alt="консультация")
      .privilege__box
        h3.privilege__box-title Бесплатная консультация
        p.privilege__box-text Позвонить нам, чтобы получить бесплатную консультацию, на крепёж, стыковку элементов и «вертикальность»
    .privilege__case
      .privilege__img
        img.privilege__img-item(src="assets/images/privilege/calc.png", width="70px", height="70px", alt="расчет")
      .privilege__box
        h3.privilege__box-title Бесплатный просчёт
        p.privilege__box-text Оставьте заявку или перезвоните нам на расчёт стоимости монтажа для дома, бани или котельной.
    .privilege__case
      .privilege__img
        img.privilege__img-item(src="assets/images/privilege/experience.png", width="70px", height="70px", alt="опыт")
      .privilege__box
        h3.privilege__box-title Большой опыт
        p.privilege__box-text У нас большой опыт установки, монтажа, убедитесь в этом прочитав отзывы и посмотрите фотографии наших работ.
    .privilege__case
      .privilege__img
        img.privilege__img-item(src="assets/images/privilege/clearing.png", width="70px", height="70px", alt="Чистка")
      .privilege__box
        h3.privilege__box-title Чистка дымохода
        p.privilege__box-text Мы производим чистку дымохода с применением современной профессиональной технологии.