//  расчет
section.calculation.container
  .calculation__inform
    h2.calculation__title
      span.calculation__title-span самостоятельный 
      | расчёт стоимости дымохода
    p.calculation__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    p.calculation__link Для расчета стоимости пройдите тест за 
      span.calculation__link-span 1 минуту
    button.calculation__btn.btn(type="button") рассчитать стоимость
  .calculation__img
    .calculation__calc
    .calculation__arrows.img__arrows
    .calculation__point.img__point