// о нас
section.about-us.red_line
  h2.about-us__title О компании в цифрах
  .about-us__inform
    .about-us__content
      .about-us__case.about-us__market
        .about-us__number 11
        p.about-us__text Магазинов продают нашу продукцию
      .about-us__case.about-us__object
        .about-us__number 1886
        p.about-us__text Выполненных объектов
      .about-us__case.about-us__old
        .about-us__number 18
        p.about-us__text Лет опыта работына рынке с гарантией качества
      .about-us__case.about-us__respect
        .about-us__number 90%
        p.about-us__text рекомендуют и обращаются к нам повторно
    .about-us__img
      .about-us__arrows.img__arrows
      .about-us__point.img__point