// кредит
section.credit
  .credit__info
    h2.credit__title
      | Купите любую продукцию
      br.credit__title-br
      span.credit__title-span  без денег
    .credit__text
      p Теперь возможна оплата в кредит или в рассрочку 0%. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    button.credit__btn.btn(type="button") купить в кредит
  .credit__img
    .credit__img-item
    .credit__arrows.img__arrows
    .credit__point.img__point