// секция с видео
section.video.red_line
  h2.video__title Видео
  p.video__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .video__intro
    .video__point.img__point
    .video__content
      iframe.video__content-iframe(width="771", height="438", src="https://www.youtube.com/embed/2KKRNP3WzqE?start=79?autoplay=0").