.footer {
	background-color: #0C2F33;
	max-width: 1920px;
	padding-top: 88px;
	padding-bottom: 92px;
	color: #fff;
	font-family: 'Montserrat';
	text-decoration: none;
	margin: 136px auto 0;
}
.footer__content {
	max-width: 1208px;
	display: flex;
	margin: 0 auto;
}
.footer__catalog {
	margin-right: 105px;
}
.footer-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
	text-transform: uppercase;
}
.footer__catalog-case {
	max-width: 330px;
	margin-top: 18px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.footer-case {
	min-width: 155px;
	margin-bottom: 19px;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}
.group {
	padding-left: 27px;
}
.footer__inform {
	margin-right: 132px;
}
.footer__inform-case {
	max-width: 330px;
	margin-top: 18px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.footer__contacts {
	font-family: 'Lato';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
.footer__contacts-case {
	max-width: 287px;
	margin-top: 18px;
	margin-left: 23px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.footer__contacts-week {
	color: var(--color-2);
	margin-bottom: 14px;
	position: relative;
	&::before {
		content: "";
		left: -24px;
		top: 5px;
		min-width: 15px;
		height: 15px;
		background-image: url(/assets/images/footer/clock.png);
		position: absolute;
		z-index: 2;
	}
}
.footer__contacts-span {
	color: #fff;
	margin-right: 11px;
	&:last-child {
		margin-right: 0px;
	}
}
.footer__contacts-address {
	margin-bottom: 27px;
	position: relative;
	&::before {
		content: "";
		left: -22px;
		top: 5px;
		min-width: 11px;
		height: 18px;
		background-image: url(/assets/images/footer/Vector.png);
		background-repeat: no-repeat;
		position: absolute;
		z-index: 2;
	}
}
.footer__link-vk {
	margin-right: 20px;
}
.footer__link-telegram {
	margin-right: 29px;
}
.footer__link-instagram {
	margin-right: 28px;
}
