footer.footer
  .footer__content
    .footer__catalog
      h2.footer__catalog-title.footer-title каталог
      .footer__catalog-case
        .footer__catalog-flue.footer-case Дымоходы
        .footer__catalog-grate.footer-case.group Камины
        .footer__catalog-smoke.footer-case Дымососы
        .footer__catalog-calcium.footer-case.group Силикат кальция
        .footer__catalog-house.footer-case Печи для дома
        .footer__catalog-boiler.footer-case.group Котлы
        .footer__catalog-baths.footer-case Печи для бани
        .footer__catalog-more.footer-case.group Ещё
    .footer__inform
      h2.footer__inform-title.footer-title информация
      .footer__inform-case
        .footer__inform-catalog.footer-case Каталог
        .footer__inform-useful.footer-case.group Полезное
        .footer__inform-montage.footer-case Установка и монтаж
        .footer__inform-contacts.footer-case.group Контакты
        .footer__inform-reviews.footer-case Отзывы
        .footer__inform-delivery.footer-case.group Оплата и доставк
        .footer__inform-sale.footer-case Ликвидация товара
    .footer__contacts
      h2.footer__contacts-title.footer-title время работы
      .footer__contacts-case
        .footer__contacts-week
          | пн-пт 
          span.footer__contacts-span 9:00 – 20:00
          |  сб-вс 
          span.footer__contacts-span 10:00 – 18:00
        .footer__contacts-address г. Санкт - Петербург ,ул. Тамбасова д.7
        .footer__contacts-social.social
          +social ('https://vk.com/','vk','footer')
          +social ('https://telegram.org/','telegram','footer')
          +social ('https://www.instagram.com/','instagram','footer')
          +social ('https://www.whatsapp.com/','whatsapp','footer')