// причины
section.reasons.red_line
  h2.reasons__title Причины приобрести нашу продукцию
  .reasons__content
    .reasons__info
      .reasons__item-one.reasons__info-item
        p Мы предоставляем полный комплекс услуг включающий консультацию и поддержку на всех этапах сотрудничества, от покупки до установки. Дальнейшую очистку дымоходов.
      .reasons__item-two.reasons__info-item
        p Точное выполнение договорённости, сроков, стоимости и качеству произведенного монтажа, наличие всех необходимых сертификатов и технических документов.
      .reasons__item-three.reasons__info-item
        p
          | Гарантия на выполненные работы:
          br
          span.reasons__item-span 3 года
          |  на гидроизоляцию кровельных элементов
          br
          span.reasons__item-span 5 лет
          |  на сквозную коррозию внутренней и наружной трубы
          br
          span.reasons__item-span 10 лет
          |  на крепёж, стыковку элементов и «вертикальность»
    .reasons__img