section.work.container
  .work__wraper.swiper-container
    .work__content
      ul.work__slider.swiper-wrapper
        li.work__case.swiper-slide
          .work__case-img
            img.work__img-item(src="assets/images/work/swiper/1.jpg" width="365" height="250" alt="работа 1")
          .work__case-content
            .work__case-title Печь «Бахта»
            ul.work__case-property
              li.work__case-item
                p.work__case-product Диаметр
                p.work__case-value 115/250
              li.work__case-item
                p.work__case-product Сталь
                p.work__case-value.work-value__steel 304-0,8/430
            h4.work__case-text Чугунная отопительно-варочная печь. Дымоход собственного производства, вертикальный с металлической походкой кровли, защита пола экран из нержавейки с минеритом.
        li.work__case.swiper-slide
          .work__case-img
            img.work__img-item(src="assets/images/work/swiper/2.jpg" width="365" height="250" alt="работа 2")
          .work__case-content
            .work__case-title Печь «Бахта»
            ul.work__case-property
              li.work__case-item
                p.work__case-product Диаметр
                p.work__case-value 115/250
              li.work__case-item
                p.work__case-product Сталь
                p.work__case-value.work-value__steel 304-0,8/430
            h4.work__case-text Чугунная отопительно-варочная печь. Дымоход собственного производства, вертикальный с металлической походкой кровли, защита пола экран из нержавейки с минеритом.
        li.work__case.swiper-slide
          .work__case-img
            img.work__img-item(src="assets/images/work/swiper/3.jpg" width="365" height="250" alt="работа 3")
          .work__case-content
            .work__case-title Печь «Бахта»
            ul.work__case-property
              li.work__case-item
                p.work__case-product Диаметр
                p.work__case-value 115/250
              li.work__case-item
                p.work__case-product Сталь
                p.work__case-value.work-value__steel 304-0,8/430
            h4.work__case-text Чугунная отопительно-варочная печь. Дымоход собственного производства, вертикальный с металлической походкой кровли, защита пола экран из нержавейки с минеритом.
  .work__inform
    h2.work__title
      | Выполненные 
      span.work__title-span проекты
    p.work__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo   
    // кнопки 
    .work__button
      .work__swiper-button.button-prev.swiper-button--prev2
        svg.work__arrow.button-arrow.arrow-prev
          use(href="assets/images/sprite/sprite.svg#arrow")
      .work__swiper-button.button-next.swiper-button--next2
        svg.work__arrow.button-arrow.arrow-next
          use(href="assets/images/sprite/sprite.svg#next-arrow")