section.work.container
  .work__wraper.swiper-container
    .work__content
      +ticket2('work',1,2,3)  
  .work__inform
    h2.work__title
      | Выполненные 
      span.work__title-span проекты
    p.work__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo   
    // кнопки 
    .work__button
      .work__swiper-button.button-prev.swiper-button--prev2
        svg.work__arrow.button-arrow.arrow-prev
          use(href="assets/images/sprite/sprite.svg#arrow")
      .work__swiper-button.button-next.swiper-button--next2
        svg.work__arrow.button-arrow.arrow-next
          use(href="assets/images/sprite/sprite.svg#next-arrow")