// блок - продажи
section.sales.container.swiper.red_line
    .sales__content
        h2.sales__title Хиты продаж
        // кнопки прокрутки 
        .sales__button
            .sales__swiper-button.button-prev.swiper-button--prev
                svg.fireplace__arrow.button-arrow.arrow-prev
                    use(href="assets/images/sprite/sprite.svg#arrow")
            .sales__swiper-button.button-next.swiper-button--next
                svg.fireplace__arrow.button-arrow.arrow-next
                    use(href="assets/images/sprite/sprite.svg#next-arrow")
        //  Дополнительный обязательный контейнер 
    +ticket('sales',1,2,3,4)                                                                                        