// блок - продажи
section.sales.container.swiper.red_line
    .sales__content
        h2.sales__title Хиты продаж
        // кнопки прокрутки 
        .sales__button
            .sales__swiper-button.button-prev.swiper-button--prev
                svg.fireplace__arrow.button-arrow.arrow-prev
                    use(href="assets/images/sprite/sprite.svg#arrow")
            .sales__swiper-button.button-next.swiper-button--next
                svg.fireplace__arrow.button-arrow.arrow-next
                    use(href="assets/images/sprite/sprite.svg#next-arrow")
        //  Дополнительный обязательный контейнер 
    ul.sales__wrapper.swiper-wrapper
        //  Слайды 
        li.sales__slide.swiper-slide
            .sales__slide-img
                img.sales__img-item(src="assets/images/sales/image1.png" width="213" height="213" alt="камин 1")
            .sales__slide-cart.card__badge--class
                svg.sales__slide-search.search__cart
                    use(href="assets/images/sprite/sprite.svg#cart")
            .sales__slide-content
                p.sales__slide-title Kratki
                p.sales__slide-text Каминная топка Kratki ZUZIA LPT
                .sales__slide-price
                    p.sales__slide-price-new
                        | 16 490
                        svg.sales__slide-rub.slide__rub-new
                            use(href="assets/images/sprite/sprite.svg#rubl")
                    p.sales__slide-price-old
                        s 16 490
                        svg.sales__slide-rub.slide__rub-old
                            use(href="assets/images/sprite/sprite.svg#rubl")
        li.sales__slide.swiper-slide
            .sales__slide-img
                img.sales__img-item(src="assets/images/sales/image1.png" width="213" height="213" alt="камин 1")
            .sales__slide-cart.card__badge--class
                svg.sales__slide-search.search__cart
                    use(href="assets/images/sprite/sprite.svg#cart")
            .sales__slide-content
                p.sales__slide-title Kratki
                p.sales__slide-text Каминная топка Kratki ZUZIA LPT
                .sales__slide-price
                    p.sales__slide-price-new
                        | 16 490
                        svg.sales__slide-rub.slide__rub-new
                            use(href="assets/images/sprite/sprite.svg#rubl")
                    p.sales__slide-price-old
                        s 16 490
                        svg.sales__slide-rub.slide__rub-old
                            use(href="assets/images/sprite/sprite.svg#rubl")
        li.sales__slide.swiper-slide
            .sales__slide-img
                img.sales__img-item(src="assets/images/sales/image1.png" width="213" height="213" alt="камин 1")
            .sales__slide-cart.card__badge--class
                svg.sales__slide-search.search__cart
                    use(href="assets/images/sprite/sprite.svg#cart")
            .sales__slide-content
                p.sales__slide-title Kratki
                p.sales__slide-text Каминная топка Kratki ZUZIA LPT
                .sales__slide-price
                    p.sales__slide-price-new
                        | 16 490
                        svg.sales__slide-rub.slide__rub-new
                            use(href="assets/images/sprite/sprite.svg#rubl")
                    p.sales__slide-price-old
                        s 16 490
                        svg.sales__slide-rub.slide__rub-old
                            use(href="assets/images/sprite/sprite.svg#rubl")
        li.sales__slide.swiper-slide
            .sales__slide-img
                img.sales__img-item(src="assets/images/sales/image1.png" width="231" height="213" alt="камин 1")
            .sales__slide-cart.card__badge--class
                svg.sales__slide-search.search__cart
                    use(href="assets/images/sprite/sprite.svg#cart")
            .sales__slide-content
                p.sales__slide-title Kratki
                p.sales__slide-text Каминная топка Kratki ZUZIA LPT
                .sales__slide-price
                    p.sales__slide-price-new
                        | 16 490
                        svg.sales__slide-rub.slide__rub-new
                            use(href="assets/images/sprite/sprite.svg#rubl")
                    p.sales__slide-price-old
                        s 16 490
                        svg.sales__slide-rub.slide__rub-old
                            use(href="assets/images/sprite/sprite.svg#rubl")                                                                                    