// установка
section.installation.red_line
  .installation__container
    h2.installation__title Установка и отношение к работе
    .installation__content
      .installation__inform
        p.installation__text
          | Правильная установка очень важна, от этого зависит не только красота но и ваша безопасность. Не профессиональная установка газоотводящей системы несёт большую опасность возникновения пожаров и отравление угарным газом.
          br
          | В 
          span.installation__text-span Дымоход ру. 
          |  работают профессионалы с большим опытом работы, они ежегодно проходят курсы повышения квалификации
        p.installation__text-big Все работы проводим качественно, аккуратно, и на совесть
      .installation__img
    .installation__abaut
      .installation__abaut-price.installation-case
        .installation__case-img
          img.installation__img-item(src="assets/images/installation/price.png", width="80px", height="80px", alt="цены")
        .installation__box
          h3.abaut-price__title.installation__abaut-title Доступные цены
          p.abaut-price__text.installation__abaut-text 
            | Мы предлагаем нашу
            br.abaut-price__text-br
            | продукцию, услуги по доступным ценам и отличного качества
      .installation__abaut-instal.installation-case
        .installation__case-img
          img.installation__img-item(src="assets/images/installation/inst.png", width="80px", height="80px", alt="установка")
        .installation__box
          h3.abaut-instal__title.installation__abaut-title Установка
          p.abaut-instal__text.installation__abaut-text Устанавливаем дымоходы, камины, печи, котлы всех производителей
      .installation__abaut-prof.installation-case
        .installation__case-img
          img.installation__img-item(src="assets/images/installation/prof.png", width="80px", height="80px", alt="профессионализм")
        .installation__box
          h3.abaut-prof__title.installation__abaut-title Профессионализм
          p.abaut-prof__text.installation__abaut-text Квалифицированные специалисты. Работаем чисто, аккуратно, убираем за собой
      .installation__abaut-quality.installation-case
        .installation__case-img
          img.installation__img-item(src="assets/images/installation/quality.png", width="80px", height="80px", alt="качество")
        .installation__box
          h3.abaut-quality__title.installation__abaut-title Гарантия качества
          p.abaut-quality__text.installation__abaut-text Мы даём гарантию на все изделия и работы, выполненные нашими специалистами.