.calculation {
	padding-top: 205px;
	display: flex;
    @media (max-width: 768px) {
        margin-left: 16px;
        margin-right: 16px;
		padding-top: 28px;
	}
}
.calculation__inform {
	margin-top: 23px;
	max-width: 629px;
    @media (max-width: 768px) {
		margin-top: 0;
        max-width: 369px;
	}
}

.calculation__title {
	font-weight: 600;
	font-size: 39px;
	line-height: 48px;
	letter-spacing: 0.003em;
	color: var(--color-0);
    @media (max-width: 768px) {
        font-size: 22px;
	    line-height: 32px;
	}
}
.calculation__title-span {
	font-weight: 800;
	font-size: 50px;
	line-height: 63px;
	letter-spacing: 0.01em;
	color: var(--color-3);
	text-transform: uppercase;
    @media (max-width: 768px) {
        font-size: 30px;
	    line-height: 32px;
	}
}
.calculation__text {
	margin-top: 17px;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}
.calculation__link {
	margin-top: 2px;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
    @media (max-width: 768px) {
		margin-top: 20px;
        margin-right: 7px;
	}
}
.calculation__link-span {
	font-weight: 700;
	color: var(--color-6);
}
.calculation__btn {
	margin-top: 94px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
    @media (max-width: 768px) {
		margin-top: 33px;
	}
}
.calculation__img {
	transform: translateX(147px);
	position: relative;
    @media (max-width: 768px) {
		transform: translateX(-142px);
	}
}
.calculation__calc {
	min-width: 658px;
	min-height: 534px;
	background-image: url(/assets/images/calculation/calc_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;
	z-index: 1;
    @media (max-width: 768px) {
        background-size: 364px 301px;
    	background-repeat: no-repeat;	
		transform: translateX(2px);
	}
	&::after {
		content: "";
		left: 126px;
		top: -70px;	
		min-width: 474px;
		min-height: 596px;
		background-image: url(/assets/images/calculation/calc.png);
		position: absolute;
		z-index: 4;
        @media (max-width: 768px) {
            left: 204px;
            top: 66px;
            background-size: 265px 334px;
            background-repeat: no-repeat;	
        }
	}
}
.calculation__arrows {
	&::before {
		left: -63px;
		top: 226px;
        @media (max-width: 768px) {
            content: none;	
        }
	}
	&::after {
		content: none;
	}
}
.calculation__point {
	&::before {
		left: 95px;
		top: -46px;
        @media (max-width: 768px) {
            left: 196px;
            top: 50px;   	
        }
	}
	&::after {
		left: 572px;
		top: 373px;
        @media (max-width: 768px) {
            left: 428px;
            top: 304px; 	
        }
	}
}